:root{
    --primary:  #4eac6d;
    ---secondary: azure;
}

.dashboard{
    position: fixed;
    width: 100%;
    transition: .2s;
}

.dashboard .topBar{
    background-color: var(---secondary);
    width: 100%;
    padding: .5em;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.073); */
}

.dashboard .users{
    background-color: var(---secondary);
    height: 100vh;
    width: 25%;
    transition: .2s;
}

.dashboard .users .flow{
    overflow: scroll; 
    height: 100%; 
    padding-bottom: 6em;
}

.dashboard .users .flow .favourites .cont{
    border-bottom: 1px solid rgb(218, 218, 218);
    padding-bottom: .5em;
}


.dashboard .users .flow .total_msg{
    background-color: rgba(174, 173, 173, 0.233);
    padding: .4em;
    height: fit-content;
    border-radius: 3px;
    color: black;
    font-size: 12px;
}

.dashboard .users .head .d-flex{
    justify-content: space-between;
    margin-bottom: 1em;
    padding: 1em;
    border-bottom: 1px solid rgb(204, 202, 202);
    padding-bottom: 1em;
}
.dashboard .users .favourites {
    padding: 1em;
    font-size: 12px;
}

.dashboard .users .favourites .d-flex{
    justify-content: space-between;
    font-size: 15px;
    color: grey;
    margin-bottom: .8em;
    transition: .2s;
}

.dashboard .users .favourites .d-flex:hover{
    cursor: pointer;
    color: black;
    transition: .2s;
}

.dashboard .users .favourites  .user_icon{
    background-color: var(--primary);
    color: var(---secondary);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 13px;
}

.dashboard .navigation{
    background-color: rgb(48, 47, 47);
    height: 100vh;
    width: 5%;
    overflow: hidden;
    overflow: scroll; 
    padding: .1em;
    color: grey;
    transition: .2s;
    overflow: scroll;
}

.dashboard .navigation i {
    font-size: 1.6em;
}

.dashboard .navigation a{
    margin-bottom: 3em;
    margin-top: 2em;
    transition: .2s;
    display: block;
    color: grey;
    text-decoration: none;
}

.dashboard .navigation a:hover{
    cursor: pointer;
    color: var(---secondary);
    /* transform: scale(1.3); */
    transition: .2s;
}

.dashboard .navigation .active{
    color: var(---secondary);
    transform: scale(1.1);
    background-color: var(--primary);
    padding: .5em;
}

.dashboard .chat_container{
    background-color: transparent;
    height: 100vh;
    width: 70%;
    overflow: hidden; 
    transition: .2s;
}

::-webkit-scrollbar{
    display: none;
}

.dashboard .chat_container .head{
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.265);
    padding: .4em 1em;
    color: var(---secondary);
    font-size: 14px;
}

.dashboard .chat_container .head i {
    font-size: 1.3em;
}

.dashboard .chat_container .head .icons p{
    margin-right: 2em;
    margin-top: 1em;
}

.dashboard .chat_container .head .profile_pic{
    width: 40px;
    height: 40px;
    background-color: var(---secondary);
    border-radius: 50%;
    color: var(--primary);
    text-align: center;
}

.dashboard .chat_container .inputs{
    background-color: rgba(255, 255, 255, 0.265);
    padding: .5em;
    /* padding-bottom: 100em; */
    width: 70%;
    position: fixed;
    bottom: 0;
}

.dashboard .chat_container .inputs textarea{
    width: 80%;
    outline: none;
    resize: none;
    padding: .5em;
    height: 45px;
    border: none;
    border-radius: 3px;
    margin-right: 1em;
    background-color: var(---secondary);
}

.dashboard .chat_container .inputs .d-flex{
    justify-content: space-evenly;
}

.dashboard .chat_container .inputs button{
    background-color: var(--primary);
    border: none;
    white-space: nowrap;
    width: fit-content;
    color: var(---secondary);
}

.dashboard .chat_container .msg_body{
    height: 85vh;
    overflow: scroll;
    padding: 1em;
    padding-bottom: 4em;
}

.dashboard .chat_container .msg_body .time{
    color: var(---secondary);
    font-size: .8em;
}

.chat_container .wrap1 .msgBodys{
    margin: 1em;
    background-color: black;
    padding: .5em;
    overflow-wrap: break-word;
    display: inline-block;
    border-radius: 0 .8em .8em .8em;
    font-size: .9em;
    color: var(---secondary);
    max-width: 80%;
    width: fit-content;
    line-height: 20px;
}

.chat_container .sentMsg .myMsg{
    background: var(---secondary);
    border-radius: .8em 0 .8em .8em;
    padding: .5em;
    display: inline-block;
    overflow-wrap: break-word;
    color:black;
    font-size: .9em;
    line-height: 20px;
    max-width: 90%;
    width: fit-content;
}

.chat_container .sentMsg .myMsg p{
    white-space-collapse:break-spaces;
}

.chat_container .top_clock{
    font-size: 1em !important;
}

.chat_container .wrap1{
    margin-right: 10em;
}

.chat_container .wrap2{
    margin-left: 10em;
}

.chat_container .msgBody div ,.sentMsg .myMsg div{
    margin-top: .3em;
    color: rgba(255, 255, 255, 0.539);
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
}

.chat_container .sentMsg{
    display: flex;
    justify-content: flex-end;
    margin: 1em;
}

.chat_bot .text-sm{
    font-size: .7em;
    color: grey;
}

.chat_container .typing{
    width: 50px;
    position: absolute;
    top: 100;
    transform: translateX(-14px) translateY(-15px);
}

.chat_container .ai{
    position: relative;
}

.chat_container .ai p{
    font-size: .7em;
    color: rgb(181, 176, 176);
}

.chat_container .ai img{
    width: 30px !important;
    border-radius: 50%;
    height: 30px !important;
}

.chat_container .msgIcon img{
    background-color: var(---secondary);
    border-radius: 50%;
    height: 30px;
}

.chat_container .wrap1 .fa-bots{
    background-color: black;
    padding: .2em;
    border-radius: 100%;
    color: var(---secondary);
    font-size: 1em;
}

.users .profile .head{
    width: 100%;
    height: 200px;
    background: linear-gradient(rgb(65, 150, 29),rgb(26, 147, 72),rgb(44, 134, 57));
}

.users .profile .head img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.users .profile .info img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: .1em .1em 1em rgba(0, 0, 0, 0.169);
    margin-bottom: 1em;
    object-fit: cover;
}

.users .profile .info{ 
    transform: translateY(-60px);
    font-size: 14px;
}

.users .profile .info .header{
    border-bottom: 1px solid rgb(209, 207, 207);
    margin-bottom: 1em;
    padding: 1em;
}

.users .profile .info .d-flex{
    margin-bottom: 1em;
    color: rgb(78, 77, 77);
    font-style: italic;
}

.users .profile .info .scroll{
    overflow: scroll;
    height: 60vh;
}

.settings #accordion .card{
    background-color: azure !important;
    border: none !important;
}

.settings #accordion .card i {
    color: var(--primary);
    font-size: 1.2em;
}

.settings #accordion .card .d-flex{
    justify-content: space-between;
    transform: translateY(8px);
}

.settings #accordion .card a{
    text-decoration: none;
    color: gray;
    margin-left: .5em;
}

.settings #accordion .card-header:hover{
    cursor: pointer;
}

.settings #accordion p {
    font-size: 14px;
    color: grey;
}

.settings #accordion .information .edit p{
    background-color: #4eac6d;
    height: fit-content;
    color: white !important;
    border-radius: 3px;
}

.settings #accordion .collapseTwo .d-flex{
    border-bottom: 1px solid rgb(220, 218, 218);
    padding-bottom: 1em;
    padding-top: .5em;
}

.settings #accordion .collapseTwo .d-flex select{
    border: 1px solid rgb(189, 188, 188);
    padding: .4em .7em;
    background-color: var(---secondary);
    border-radius: 3px;
    color: grey;
    outline: none;
}

.swal2-html-container input{
    background-color: azure !important;
    padding: 1em !important;    
    border: 1px solid rgb(220, 218, 218);
    width: 80%;
    outline: none;
}

.swal2-actions button{
    outline: none !important;
    border: none !important;
}

.swal2-html-container .input-group{
    flex-wrap: nowrap;
    font-size: .8em;
}

.swal2-html-container input::placeholder{
    color: rgb(175, 173, 173);
}

.swal2-html-container .input-group-text{
    background-color: var(--primary) !important;
    color: var(---secondary) !important;
    border: 1px solid transparent !important;
}

/* .chat_container .wrap2{
    transform:translateY(50px);
}

.dashboard .chat_container .wrap2_tog{
    transform:translateY(0px);
    transition: .5s;
}

.chat_container .wrap1{
    transform:translateY(50px);
}

.dashboard .chat_container .wrap1_tog{
    transform:translateY(0px);
    transition: .5s !important;
} */

@media screen and (max-width: 700px){
    .dashboard .chat_container .inputs{
        width: 100% ;
    }

    .navigation {
        display: none;
    }

    
    /* .dashboard .chat_container .msg_body{
        height: 70vh;
    } */

    .dashboard .chat_container{
        width: 70%;
    }

    .dashboard .hamburger{
        display: inline !important;
        color: grey;
        font-size: 2em;
        transform: translateY(-10px);
    }

    .dashboard .hamburger:hover{
        cursor: pointer;
        color: var(--primary);
    }

    .dashboard .addChat{
        display: none;
    }

    .dashboard .users{
        width: 30%;
        padding: 1em 0em;
    }
}

@media screen and (max-width: 650px){
    .chat_container .wrap2{
        transform: translateX(500px);
    }
    
    .dashboard .chat_container .wrap2_tog{
        transform: translateX(0px);
        transition: .5s;
    }

    .chat_container .wrap1{
        transform: translateX(-500px);
    }

    .dashboard .chat_container .wrap1_tog{
        transform: translateX(0px);
        transition: .5s !important;
    }

    .dashboard .chat_container{
        width: 0%;
        overflow: hidden;
        opacity: 0.0;
    }

    .chat_container .wrap1{
        margin-right: 0;
    }

    .chat_container .wrap2{
        margin-left: 0;
    }

    .dashboard .users{
        width: 90%;
    }

    .chat_container .msgIcon img {
        width: 20px;
        height: 20px;
    }

    .dashboard .chat_container .head .icons{
        display: none !important;
    }

    .chat_container .fa-arrow-left{
        display: inline !important;
        margin-right: 1em;
        transform: translateY(10px);
    }

    .dashboard .chat_container .inputs{
        width: 100%;
    }

    .dashboard .inputs .btn1{
        display: none;
    }

    .dashboard .inputs .btn2{
        display: inline-block !important;
        border-radius: 50%;
    }

    .dashboard .chat_container .inputs textarea {
        width: 90%;
    }
}

.dashboard .hide_user{
    width: 0%;
    overflow: hidden;
    opacity: 0.0;
}

.dashboard .show_container{
    width: 100%;
    display: block;
    opacity: 1.0;
}